.contact-form-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-top: 15%;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: black;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

   